{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
	<h1>
		{{ specialist.firstName }} {{ specialist.lastName }}
    </h1>
	<p>
		{{ specialist.description }}
	</p>
{% endblock %}
