{% extends 'base.html.twig' %}

{% block title %}specialist list{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container mt-4">
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav nav-tabs" id="myTabs">
                <li class="nav-item">
                    <a class="nav-link active" id="specialists-tab" data-bs-toggle="tab" href="#specialists">Spécialistes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="appels-tab" data-bs-toggle="tab" href="#appels">Appels</a>
                </li>
            </ul>
        {% endif %}
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="specialists">
                {% include 'specialist/_specialists_list.html.twig' with { 'specialists': specialists } %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="tab-pane fade" id="appels">
                    {% include 'appel/index.html.twig' with { 'appels': appels } %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

